.display {
    position: relative;
    display: grid;
    justify-content: stretch;
    align-items: stretch;
    margin: 1.5em;
    border-radius: 1vw;
    overflow: hidden;
    box-shadow: 0.2em 0.2em 0.5em rgb(47, 59, 70);
  }

  .display:first-of-type {
    margin-left: 120px;
  }

  .media {
    grid-column: 1;
    grid-row: 1;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Přidat */
    object-position: 50% 50%;  /* Přidat */
  }

  
  video {
    width: 100%;
    height: 100%;
  }

  .d-9-16{
    aspect-ratio: 9/16;
  }

  .d-1 {
    aspect-ratio: 1;
  }

  .d-16-9 {
    aspect-ratio: 16/9;
  }

  @media screen and (max-width: 840px) {
    .display {
      margin: 1em;
      border-radius: 3vw;
    }


    .display:first-of-type {
      margin-left: 2em;
    }
  }

  @media screen and (max-width: 650px) {
    .display {
      border-radius: 0;
      box-shadow: none;
      overflow:visible;
    }
    .display:first-of-type {
      margin-left: 1em;
    }

    .d-9-16, .d-1, .d-16-9{
      aspect-ratio: auto;
    }

    .media {
      box-shadow: 0.2em 0.2em 0.5em rgb(47, 59, 70);
      border-radius: 5vw;
    }

  }