.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 23%, rgba(0,0,0,0) 77%, rgba(0,0,0,0.8) 100%);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    opacity: 0;
    padding: 2em 2em;
    box-sizing: border-box;
    height: 100%;
    justify-content: space-between;
    transition: opacity 0.2s ease-in;
}

.overlay:hover {
    opacity: 1;
    transition: opacity 0.1s ease-out;

}

.overlay--top {
    display: flex;
    padding-bottom: 0.5em;
    justify-content: space-between;
}

.overlay--top img {
    width: 1em;
    height: 1em;
    padding-top: 0.2em;
}

.overlay h2 {
    font-weight: 300;
    font-size: 1.3em;
    margin: 0em;
}

.overlay--description {
    font-size: 0.8em;
    padding-bottom: 1.3em;
}

@media screen and (max-width: 650px) {
    .overlay {
      position:relative;
      grid-column: auto;
      grid-row: auto;
      opacity: 1;
      opacity: 1;
      background: none;
      padding: 1em 0 1.5em 0;
    }

    .overlay--description {
        font-size: 0.8em;
        padding-bottom: 0.5em;
    }
  }