.container {
  display: grid;
  grid-template-columns: 150px 1fr 1fr 0.5fr;
  grid-template-rows: min-content auto min-content;
  align-content: stretch;
  height: 100vh;
}

header {
  text-align: right;
  margin: 2em;
  grid-column: 1 / -1;
}

h1 {
  margin: 0;
  color: white;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 500;
}

.display {
  display: flex;
  background-image: url(./img/display.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  justify-content: center;
  align-items: center;
}

.last {
  background-image: url('./img/half-display.png');
  background-position: 100% 50%;
  background-size: contain;
}

.first {
  background-position: 0% 50%;
}

.plus {
  display: none;
}

video {
  border-radius: 1em;
}

.videobox {
  width: 80%;
}


footer {
  text-align: right;
  margin: 2rem;
  font-size: 0.8em;
  color: white;
  grid-column: 1 / -1;
}

@media only screen and (min-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr 0.5fr;
    grid-template-rows: min-content auto min-content;
    align-content: stretch;
    height: 100vh;
  }

  .plus {
    display: block;
  }
}