.container {
  padding: 2em;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 150px 1fr 3em;
  align-content: stretch;
  height: 100vh;
  box-sizing: border-box;
  overflow: visible;
  row-gap: 1em;
  column-gap: 1em;
}

img {
  object-fit: contain;
}

a.logo {
  display: flex;
}

.horizontal-scroll-wrapper {
  margin-left: -2em;
  margin-right: -2em;
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  white-space: nowrap;
  grid-row: 2;
  grid-column: 1 / -1;
  scrollbar-width: none;
  align-items: stretch;
  grid-auto-columns: min-content;
}

@media screen and (max-width: 840px) {
  .container {
    grid-template-rows: 150px 100px 1fr 2em;
    padding: 1.5em;
  }

  .horizontal-scroll-wrapper {
    grid-row: 3;
    margin-left: -1.5em;
    margin-right: -1.5em;
    scrollbar-width: none;

  }
}

@media screen and (max-width: 650px) {
  .horizontal-scroll-wrapper {
    grid-auto-flow: row;
    overflow-x:visible;
    grid-auto-columns: auto;
    scrollbar-width: auto;
    scrollbar-width: none;
    grid-row: 3;
  }

  .container {
    padding: 1.5em;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60px 100px 1fr 3em;
    height: auto;
  }
}